.container {
    text-align: center;
}

p {
    font-size: 1rem;
    font-family: "Righteous", sans-serif;
    margin: ;
}

body {
    background-color: rgb(244, 177, 177);
}

h1 {
    font-size: 3rem;
    font-family: "Righteous", sans-serif;
}